h1
{
    color: brown;
}

#coconut-section
{
        font-family: 'Courier New', Courier, monospace;
        color: whitesmoke;
        background-color: brown;
}

#banana-section
{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: yellow;
}